In [1]:
# Ingest the data

In [4]:
import pandas as pd

In [20]:
# use absolute path as on windows we might face issues
pd.read_csv(r"D:\PYTHON (FULL STACK)\Ineuron self practice\FSDS_End_to_End\notebooks\data\gemstone.csv")

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.52,Premium,F,VS2,62.2,58.0,7.27,7.33,4.55,13619
1,1,2.03,Very Good,J,SI2,62.0,58.0,8.06,8.12,5.05,13387
2,2,0.70,Ideal,G,VS1,61.2,57.0,5.69,5.73,3.50,2772
3,3,0.32,Ideal,G,VS1,61.6,56.0,4.38,4.41,2.71,666
4,4,1.70,Premium,G,VS2,62.6,59.0,7.65,7.61,4.77,14453
...,...,...,...,...,...,...,...,...,...,...,...
193568,193568,0.31,Ideal,D,VVS2,61.1,56.0,4.35,4.39,2.67,1130
193569,193569,0.70,Premium,G,VVS2,60.3,58.0,5.75,5.77,3.47,2874
193570,193570,0.73,Very Good,F,SI1,63.1,57.0,5.72,5.75,3.62,3036
193571,193571,0.34,Very Good,D,SI1,62.9,55.0,4.45,4.49,2.81,681
193572,193572,0.71,Good,E,SI2,60.8,64.0,5.73,5.71,3.48,2258

In [47]:
# Using relative path -> the best way
data = pd.read_csv('data\\gemstone.csv')

In [43]:
import os
data_folder = 'data'
file_name = 'gemstone.csv'
file_path = os.path.join(data_folder, file_name)
df = pd.read_csv(file_path)

In [45]:
file_path

'data\\gemstone.csv'

In [44]:
df

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.52,Premium,F,VS2,62.2,58.0,7.27,7.33,4.55,13619
1,1,2.03,Very Good,J,SI2,62.0,58.0,8.06,8.12,5.05,13387
2,2,0.70,Ideal,G,VS1,61.2,57.0,5.69,5.73,3.50,2772
3,3,0.32,Ideal,G,VS1,61.6,56.0,4.38,4.41,2.71,666
4,4,1.70,Premium,G,VS2,62.6,59.0,7.65,7.61,4.77,14453
...,...,...,...,...,...,...,...,...,...,...,...
193568,193568,0.31,Ideal,D,VVS2,61.1,56.0,4.35,4.39,2.67,1130
193569,193569,0.70,Premium,G,VVS2,60.3,58.0,5.75,5.77,3.47,2874
193570,193570,0.73,Very Good,F,SI1,63.1,57.0,5.72,5.75,3.62,3036
193571,193571,0.34,Very Good,D,SI1,62.9,55.0,4.45,4.49,2.81,681
193572,193572,0.71,Good,E,SI2,60.8,64.0,5.73,5.71,3.48,2258

agg -> summarize \
.query or df[df[...] == ....] -> filter     df.query("existing_var > something")\
assign -> mutate  df.assign(new_var = lambda x:f(df[existing_var1],df[existing_var2]))\
sort_value -> arrange\
groupby -> group_by\   
rename -> rename\
describe -> summary\
filter -> select\

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       193573 non-null  int64
 1   carat    193573 non-null  float64
 2   cut      193573 non-null  object
 3   color    193573 non-null  object
 4   clarity  193573 non-null  object
 5   depth    193573 non-null  float64
 6   table    193573 non-null  float64
 7   x        193573 non-null  float64
 8   y        193573 non-null  float64
 9   z        193573 non-null  float64
 10  price    193573 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 16.2+ MB

In [50]:
data.describe()

,id,carat,depth,table,x,y,z,price
count,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000
mean,96786.000000,0.790688,61.820574,57.227675,5.715312,5.720094,3.534246,3969.155414
std,55879.856166,0.462688,1.081704,1.918844,1.109422,1.102333,0.688922,4034.374138
min,0.000000,0.200000,52.100000,49.000000,0.000000,0.000000,0.000000,326.000000
25%,48393.000000,0.400000,61.300000,56.000000,4.700000,4.710000,2.900000,951.000000
50%,96786.000000,0.700000,61.900000,57.000000,5.700000,5.720000,3.530000,2401.000000
75%,145179.000000,1.030000,62.400000,58.000000,6.510000,6.510000,4.030000,5408.000000
max,193572.000000,3.500000,71.600000,79.000000,9.650000,10.010000,31.300000,18818.000000

In [51]:
data.query("carat > 1")

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.52,Premium,F,VS2,62.2,58.0,7.27,7.33,4.55,13619
1,1,2.03,Very Good,J,SI2,62.0,58.0,8.06,8.12,5.05,13387
4,4,1.70,Premium,G,VS2,62.6,59.0,7.65,7.61,4.77,14453
5,5,1.51,Very Good,J,SI1,62.8,58.0,7.34,7.29,4.59,7506
7,7,1.34,Premium,G,SI2,62.5,57.0,7.00,7.05,4.38,6224
...,...,...,...,...,...,...,...,...,...,...,...
193543,193543,1.12,Ideal,G,VVS2,61.9,56.0,6.65,6.69,4.13,8373
193546,193546,1.16,Ideal,H,VS1,61.7,54.0,6.74,6.79,4.19,7016
193548,193548,1.20,Ideal,F,VS1,61.6,57.0,6.81,6.85,4.20,10084
193551,193551,1.11,Ideal,H,VS1,62.4,57.0,6.65,6.61,4.14,6239
193566,193566,1.05,Ideal,G,VS1,62.1,56.0,6.54,6.51,4.06,7397

In [54]:
data.carat

0         1.52
1         2.03
2         0.70
3         0.32
4         1.70
          ...
193568    0.31
193569    0.70
193570    0.73
193571    0.34
193572    0.71
Name: carat, Length: 193573, dtype: float64

In [55]:
data.keys()

Index(['id', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y',
       'z', 'price'],
      dtype='object')

In [57]:
data.columns

Index(['id', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y',
       'z', 'price'],
      dtype='object')

In [61]:
data.get("carat")

0         1.52
1         2.03
2         0.70
3         0.32
4         1.70
          ...
193568    0.31
193569    0.70
193570    0.73
193571    0.34
193572    0.71
Name: carat, Length: 193573, dtype: float64

In [59]:
data[data["carat"] > 1]

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.52,Premium,F,VS2,62.2,58.0,7.27,7.33,4.55,13619
1,1,2.03,Very Good,J,SI2,62.0,58.0,8.06,8.12,5.05,13387
4,4,1.70,Premium,G,VS2,62.6,59.0,7.65,7.61,4.77,14453
5,5,1.51,Very Good,J,SI1,62.8,58.0,7.34,7.29,4.59,7506
7,7,1.34,Premium,G,SI2,62.5,57.0,7.00,7.05,4.38,6224
...,...,...,...,...,...,...,...,...,...,...,...
193543,193543,1.12,Ideal,G,VVS2,61.9,56.0,6.65,6.69,4.13,8373
193546,193546,1.16,Ideal,H,VS1,61.7,54.0,6.74,6.79,4.19,7016
193548,193548,1.20,Ideal,F,VS1,61.6,57.0,6.81,6.85,4.20,10084
193551,193551,1.11,Ideal,H,VS1,62.4,57.0,6.65,6.61,4.14,6239
193566,193566,1.05,Ideal,G,VS1,62.1,56.0,6.54,6.51,4.06,7397

In [64]:
data.select_dtypes("int")

            id  price
0            0  13619
1            1  13387
2            2   2772
3            3    666
4            4  14453
...        ...    ...
193568  193568   1130
193569  193569   2874
193570  193570   3036
193571  193571    681
193572  193572   2258

[193573 rows x 2 columns]

In [70]:
data.assign(caret_ratio = lambda x: (x["carat"]/x["x"])*1.05)

,id,carat,cut,color,clarity,depth,table,x,y,z,price,caret_ratio
0,0,1.52,Premium,F,VS2,62.2,58.0,7.27,7.33,4.55,13619,0.219532
1,1,2.03,Very Good,J,SI2,62.0,58.0,8.06,8.12,5.05,13387,0.264454
2,2,0.70,Ideal,G,VS1,61.2,57.0,5.69,5.73,3.50,2772,0.129174
3,3,0.32,Ideal,G,VS1,61.6,56.0,4.38,4.41,2.71,666,0.076712
4,4,1.70,Premium,G,VS2,62.6,59.0,7.65,7.61,4.77,14453,0.233333
...,...,...,...,...,...,...,...,...,...,...,...,...
193568,193568,0.31,Ideal,D,VVS2,61.1,56.0,4.35,4.39,2.67,1130,0.074828
193569,193569,0.70,Premium,G,VVS2,60.3,58.0,5.75,5.77,3.47,2874,0.127826
193570,193570,0.73,Very Good,F,SI1,63.1,57.0,5.72,5.75,3.62,3036,0.134003
193571,193571,0.34,Very Good,D,SI1,62.9,55.0,4.45,4.49,2.81,681,0.080225
193572,193572,0.71,Good,E,SI2,60.8,64.0,5.73,5.71,3.48,2258,0.130105

In [71]:
data.filter(["carat","cut","color"])

        carat        cut color
0        1.52    Premium     F
1        2.03  Very Good     J
2        0.70      Ideal     G
3        0.32      Ideal     G
4        1.70    Premium     G
...       ...        ...   ...
193568   0.31      Ideal     D
193569   0.70    Premium     G
193570   0.73  Very Good     F
193571   0.34  Very Good     D
193572   0.71       Good     E

[193573 rows x 3 columns]

In [73]:
data.filter(["carat","cut","color","x"]).assign(carat_ratio = lambda x: x.carat/x.x)

        carat        cut color     x  carat_ratio
0        1.52    Premium     F  7.27     0.209078
1        2.03  Very Good     J  8.06     0.251861
2        0.70      Ideal     G  5.69     0.123023
3        0.32      Ideal     G  4.38     0.073059
4        1.70    Premium     G  7.65     0.222222
...       ...        ...   ...   ...          ...
193568   0.31      Ideal     D  4.35     0.071264
193569   0.70    Premium     G  5.75     0.121739
193570   0.73  Very Good     F  5.72     0.127622
193571   0.34  Very Good     D  4.45     0.076404
193572   0.71       Good     E  5.73     0.123909

[193573 rows x 5 columns]

In [80]:
data.filter(["carat","cut","color","x"]).\
    assign(carat_ratio = lambda x: x.carat/x.x).\
        groupby("carat")["carat_ratio"].sum()

carat
0.20     1.578579
0.21     0.917560
0.22     0.168387
0.23    51.862824
0.24    48.742973
          ...
3.00     1.596466
3.01     2.295295
3.04     0.965803
3.40     0.400471
3.50     0.362694
Name: carat_ratio, Length: 248, dtype: float64

In [86]:
data.filter(["carat","cut","color","x"]).\
    assign(carat_ratio = lambda x: x.carat/x.x)[data["carat"]>1]

        carat        cut color     x  carat_ratio
0        1.52    Premium     F  7.27     0.209078
1        2.03  Very Good     J  8.06     0.251861
4        1.70    Premium     G  7.65     0.222222
5        1.51  Very Good     J  7.34     0.205722
7        1.34    Premium     G  7.00     0.191429
...       ...        ...   ...   ...          ...
193543   1.12      Ideal     G  6.65     0.168421
193546   1.16      Ideal     H  6.74     0.172107
193548   1.20      Ideal     F  6.81     0.176211
193551   1.11      Ideal     H  6.65     0.166917
193566   1.05      Ideal     G  6.54     0.160550

[63927 rows x 5 columns]

In [85]:
data.filter(["carat","cut","color","x"]).\
    assign(carat_ratio = lambda x: x.carat/x.x).\
        loc[data["carat"]>1]

        carat        cut color     x  carat_ratio
0        1.52    Premium     F  7.27     0.209078
1        2.03  Very Good     J  8.06     0.251861
4        1.70    Premium     G  7.65     0.222222
5        1.51  Very Good     J  7.34     0.205722
7        1.34    Premium     G  7.00     0.191429
...       ...        ...   ...   ...          ...
193543   1.12      Ideal     G  6.65     0.168421
193546   1.16      Ideal     H  6.74     0.172107
193548   1.20      Ideal     F  6.81     0.176211
193551   1.11      Ideal     H  6.65     0.166917
193566   1.05      Ideal     G  6.54     0.160550

[63927 rows x 5 columns]

In [87]:
a = [1,2,3,4]
sum(a)

10

In [92]:
data.sort_values(by="carat")

,id,carat,cut,color,clarity,depth,table,x,y,z,price
65749,65749,0.20,Ideal,F,VS2,61.7,57.0,3.82,3.78,2.31,367
147400,147400,0.20,Premium,G,SI1,61.1,59.0,3.78,3.81,2.32,367
102173,102173,0.20,Premium,E,VS2,61.1,60.0,3.75,3.72,2.32,367
141925,141925,0.20,Premium,E,VS2,61.0,59.0,3.77,3.81,2.32,367
65217,65217,0.20,Good,E,VS2,57.4,62.0,3.84,3.79,2.26,367
...,...,...,...,...,...,...,...,...,...,...,...
181187,181187,3.04,Premium,I,SI2,60.4,56.0,9.46,9.36,5.50,17068
18817,18817,3.04,Very Good,J,SI2,63.1,56.0,9.36,9.31,5.75,15354
141210,141210,3.04,Premium,I,VS2,62.2,59.0,9.51,9.46,5.50,15897
15555,15555,3.40,Fair,F,SI2,65.9,59.0,8.49,8.43,5.59,18242
140193,140193,3.50,Very Good,H,SI2,62.8,57.0,9.65,9.59,6.03,18507

In [98]:
# aggregate usage is almost similar to assign (think this as "a" brother)
df = data.filter(["carat","cut","color","x"]).\
    assign(carat_ratio = lambda x: x.carat/x.x).\
        groupby("carat").\
            agg(carat_ratio_sum = ('carat','sum')).\
                reset_index()

In [99]:
df

     carat  carat_ratio_sum
0     0.20             6.00
1     0.21             3.57
2     0.22             0.66
3     0.23           204.47
4     0.24           194.16
..     ...              ...
243   3.00            15.00
244   3.01            21.07
245   3.04             9.12
246   3.40             3.40
247   3.50             3.50

[248 rows x 2 columns]

In [100]:
import numpy as np

In [102]:
fn1 = lambda x:sum(x)/np.mean(x)

l1 = [10,20,30,40]

fn1(l1)

4.0

In [108]:

data.filter(["carat","cut","color","x"]).\
    assign(carat_ratio = lambda x: x.carat/x.x).\
        groupby("carat").\
            agg(carat_ratio_sum = ('carat',lambda x:sum(x)/np.mean(x))).\
                reset_index().\
                    rename(columns={"carat":"carat_new"})

     carat_new  carat_ratio_sum
0         0.20             30.0
1         0.21             17.0
2         0.22              3.0
3         0.23            889.0
4         0.24            809.0
..         ...              ...
243       3.00              5.0
244       3.01              7.0
245       3.04              3.0
246       3.40              1.0
247       3.50              1.0

[248 rows x 2 columns]

In [113]:
data["cut_new"]=data.get("cut").str.replace("Premium","Ultra_Premium")

In [119]:
data["abc"]=data.get("cut_new").str.find("Ultra_Premium")

In [122]:
data.filter(["abc","cut_new"])

        abc        cut_new
0         0  Ultra_Premium
1        -1      Very Good
2        -1          Ideal
3        -1          Ideal
4         0  Ultra_Premium
...     ...            ...
193568   -1          Ideal
193569    0  Ultra_Premium
193570   -1      Very Good
193571   -1      Very Good
193572   -1           Good

[193573 rows x 2 columns]

In [123]:
x = "Ransingh"

In [131]:
data.drop("new_col",axis=1)

,id,carat,cut,color,clarity,depth,table,x,y,z,price,cut_new,abc
0,0,1.52,Premium,F,VS2,62.2,58.0,7.27,7.33,4.55,13619,Ultra_Premium,0
1,1,2.03,Very Good,J,SI2,62.0,58.0,8.06,8.12,5.05,13387,Very Good,-1
2,2,0.70,Ideal,G,VS1,61.2,57.0,5.69,5.73,3.50,2772,Ideal,-1
3,3,0.32,Ideal,G,VS1,61.6,56.0,4.38,4.41,2.71,666,Ideal,-1
4,4,1.70,Premium,G,VS2,62.6,59.0,7.65,7.61,4.77,14453,Ultra_Premium,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
193568,193568,0.31,Ideal,D,VVS2,61.1,56.0,4.35,4.39,2.67,1130,Ideal,-1
193569,193569,0.70,Premium,G,VVS2,60.3,58.0,5.75,5.77,3.47,2874,Ultra_Premium,0
193570,193570,0.73,Very Good,F,SI1,63.1,57.0,5.72,5.75,3.62,3036,Very Good,-1
193571,193571,0.34,Very Good,D,SI1,62.9,55.0,4.45,4.49,2.81,681,Very Good,-1
193572,193572,0.71,Good,E,SI2,60.8,64.0,5.73,5.71,3.48,2258,Good,-1

In [134]:
data= data.drop(["cut_new","new_col"],axis=1)

In [136]:
data["new_col"] = data["cut"]+"_"+data["clarity"]

In [137]:
data

,id,carat,cut,color,clarity,depth,table,x,y,z,price,abc,new_col
0,0,1.52,Premium,F,VS2,62.2,58.0,7.27,7.33,4.55,13619,0,Premium_VS2
1,1,2.03,Very Good,J,SI2,62.0,58.0,8.06,8.12,5.05,13387,-1,Very Good_SI2
2,2,0.70,Ideal,G,VS1,61.2,57.0,5.69,5.73,3.50,2772,-1,Ideal_VS1
3,3,0.32,Ideal,G,VS1,61.6,56.0,4.38,4.41,2.71,666,-1,Ideal_VS1
4,4,1.70,Premium,G,VS2,62.6,59.0,7.65,7.61,4.77,14453,0,Premium_VS2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
193568,193568,0.31,Ideal,D,VVS2,61.1,56.0,4.35,4.39,2.67,1130,-1,Ideal_VVS2
193569,193569,0.70,Premium,G,VVS2,60.3,58.0,5.75,5.77,3.47,2874,0,Premium_VVS2
193570,193570,0.73,Very Good,F,SI1,63.1,57.0,5.72,5.75,3.62,3036,-1,Very Good_SI1
193571,193571,0.34,Very Good,D,SI1,62.9,55.0,4.45,4.49,2.81,681,-1,Very Good_SI1
193572,193572,0.71,Good,E,SI2,60.8,64.0,5.73,5.71,3.48,2258,-1,Good_SI2

In [148]:
data.get("new_col").str.split("_").str[0]

0           Premium
1         Very Good
2             Ideal
3             Ideal
4           Premium
            ...
193568        Ideal
193569      Premium
193570    Very Good
193571    Very Good
193572         Good
Name: new_col, Length: 193573, dtype: object

In [124]:
dir(x)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']